/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  display: inline-block;
  margin: 0;
  font-family: serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

@font-face {
  font-family: 'latin_modern_roman_dunhil10Rg';
  src: url("./fonts/latinmodernromandunhill_10regular_macroman/lmromandunh10-regular-webfont.eot");
  src: url("./fonts/latinmodernromandunhill_10regular_macroman/lmromandunh10-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/latinmodernromandunhill_10regular_macroman/lmromandunh10-regular-webfont.woff") format("woff"), url("./fonts/latinmodernromandunhill_10regular_macroman/lmromandunh10-regular-webfont.ttf") format("truetype"), url("./fonts/latinmodernromandunhill_10regular_macroman/lmromandunh10-regular-webfont.svg#latin_modern_roman_dunhil10Rg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SawasdeeRegular';
  src: url("./fonts/sawasdee-webfont/sawasdee-webfont.eot");
  src: url("./fonts/sawasdee-webfont/sawasdee-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/sawasdee-webfont/sawasdee-webfont.woff") format("woff"), url("./fonts/sawasdee-webfont/sawasdee-webfont.ttf") format("truetype"), url("./fonts/sawasdee-webfont/sawasdee-webfont.svg#SawasdeeRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  width: 100%;
  background: #417975; }

#invitation {
  background: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px; }
  #invitation .faces-container {
    width: 100%;
    background: #fdd930;
    padding: 2em 0; }
  #invitation .banner-container {
    width: 100%;
    background: #fff;
    padding: 2em 0; }
    #invitation .banner-container img.invite-you-to {
      width: 75%; }
  #invitation .crest-container {
    width: 100%;
    background: #fdd930;
    padding: 2em 0; }
    #invitation .crest-container img.crest {
      width: 315px;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  #invitation img.fwc {
    width: 90%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0 0; }
    @media (min-width: 0px) and (max-width: 600px) {
      #invitation img.fwc {
        width: 90%; } }
  #invitation span {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0.5em;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  #invitation .details {
    font-family: 'Sawasdee', 'SawasdeeRegular', sans-serif;
    font-size: 20pt;
    line-height: 1.1em;
    padding: 0 0.5em;
    text-align: center;
    line-height: 130%; }
    #invitation .details a, #invitation .details a:visited {
      color: #000;
      text-decoration: none; }
    #invitation .details a:hover, #invitation .details a:active {
      color: #444;
      text-decoration: underline; }
    #invitation .details strong {
      line-height: 200%;
      font-weight: bold; }
  #invitation .sauvies {
    margin-top: 2em; }
  #invitation .date {
    margin-top: 2em; }
  #invitation .rsvp {
    background: #efb470;
    overflow: hidden;
    position: relative; }
    #invitation .rsvp p {
      padding: 1em 0;
      text-align: center;
      font-family: 'Latin Modern Roman Dunhill', 'latin_modern_roman_dunhil10Rg';
      font-size: 32pt; }
      @media (min-width: 0px) and (max-width: 600px) {
        #invitation .rsvp p {
          font-size: 20pt; } }
    #invitation .rsvp .buttons {
      margin: 0 auto;
      width: 60%; }
      #invitation .rsvp .buttons button {
        font-family: 'Latin Modern Roman Dunhill', 'latin_modern_roman_dunhil10Rg';
        font-size: 32pt;
        display: block;
        border: solid 3px black;
        background: transparent;
        margin: 1em auto;
        cursor: pointer;
        width: 80%; }
        @media (min-width: 0px) and (max-width: 600px) {
          #invitation .rsvp .buttons button {
            font-size: 20pt; } }
    #invitation .rsvp .form-container {
      position: relative; }
    #invitation .rsvp form {
      display: none;
      font-family: 'Latin Modern Roman Dunhill', 'latin_modern_roman_dunhil10Rg';
      font-size: 24pt;
      line-height: 1.5em;
      visibility: visible;
      opacity: 1; }
      @media (min-width: 0px) and (max-width: 600px) {
        #invitation .rsvp form {
          font-size: 20pt; } }
      #invitation .rsvp form label {
        display: block;
        text-align: center; }
      #invitation .rsvp form textarea, #invitation .rsvp form input {
        display: block;
        margin: 0 auto; }
      #invitation .rsvp form textarea, #invitation .rsvp form input[type=text] {
        font-family: 'Latin Modern Roman Dunhill', 'latin_modern_roman_dunhil10Rg';
        font-size: 14pt;
        line-height: 1.5em;
        width: 90%;
        padding: 0.5em; }
        @media (min-width: 0px) and (max-width: 600px) {
          #invitation .rsvp form textarea, #invitation .rsvp form input[type=text] {
            font-size: 10pt; } }
      #invitation .rsvp form textarea {
        height: 15em; }
      #invitation .rsvp form label {
        font-size: 14pt;
        text-align: left;
        font-style: italic;
        padding-left: 5%; }
      #invitation .rsvp form input[type=submit] {
        font-family: 'Latin Modern Roman Dunhill', 'latin_modern_roman_dunhil10Rg';
        font-size: 32pt;
        border: solid 3px black;
        background: transparent;
        margin: 1em auto;
        padding: 0 1em;
        cursor: pointer; }
        @media (min-width: 0px) and (max-width: 600px) {
          #invitation .rsvp form input[type=submit] {
            font-size: 20pt; } }
        #invitation .rsvp form input[type=submit]:hover {
          background: rgba(255, 255, 255, 0.4); }
      #invitation .rsvp form.done {
        transition-property: opacity;
        transition-duration: 0.5s;
        opacity: 0; }
    #invitation .rsvp .thanks {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      display: none;
      visibility: none;
      opacity: 0; }
      #invitation .rsvp .thanks.show {
        display: block;
        visibility: visible;
        transition-property: opacity;
        transition-duration: 0.5s;
        opacity: 1; }
      #invitation .rsvp .thanks p {
        font-size: 20pt; }
/*# sourceMappingURL=compiled-style.css.map */